html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
}

iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

footer {
	text-align: right;
	font-style: italic;
	padding-bottom: 10px;
}

.mriant_content {
	height: 100%;
	padding-top: 56px;
	/* avoid collision with navbar */
	background-color: white;
}

.mababou_content {
	height: 100%;
	padding-top: 56px;
	/* avoid collision with navbar */
}

.default {
	background-image: url("https://wallpapercave.com/wp/wp4735935.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.overlay {
	background-color: rgb(40, 211, 197, 0.5);
	background-size: cover;
	background-position: center;

	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.default_frame {
	display: flex;
	opacity: 100%;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	opacity: 0.8;
	padding: 3%;
	border-radius: 10px;
}

.cv_links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}

.link {
	border-radius: 10px;
	border: solid 2px black;
	background-color: rgb(231, 233, 233);
	box-shadow: 2px 2px 4px;
	padding: 5px;
	margin-top: 4%;
	cursor: pointer;
	font-size: 18px;
}

.msg-0 {
	font-weight: bold;
	font-size: 24px;
}

hr {
	padding: 0;
	margin: 0;
}

* .nav-item-space {
	margin: 10%;
}


/* CLASSES INSIDE THE PERSONAL PAGES */

a.anchor {
	display: block;
	position: relative;
	top: -56px;
	visibility: hidden;
}

.section {
	height: 100%;
	padding: 56px 2% 2% 2%;
	/* avoid collision with navbar */
}


/* ABOUT - MABABOU */
.about {
	background-color: white;
}

.profile-picture {
	border-radius: 50%;
	width: 20%;
}

.about>h1 {
	font-size: 200%;
	color: darkblue;
	font-weight: bolder;
	font-family: "Raleway", sans-serif;
}

.about>section {
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 80%;
}

.mababou-name {
	padding-top: 1%;
	font-size: 300%;
	font-weight: 900;
	text-align: center;
}

.about>section>h2 {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 1%;
}

.about>section>h3 {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 1%;
}

.about>section>h4 {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 1%;
	font-size: 200%;
	color: darkblue;
}

/* RESUME - MABABOU */

.resume {
	background-color: rgb(197, 221, 246);
}

.resume>h1 {
	font-size: 200%;
	color: darkblue;
	font-weight: bolder;
	font-family: "Raleway", sans-serif;
}

.resume>section {
	height: 50%;
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.resume>.resume-blocks>section>h2 {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding: 1%;
}

.skill {
	margin: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.section>.resume-blocks {
	display: flex;
	flex-direction: row;
	padding: 2%;
}

.section>.resume-blocks>* {
	flex: 1;
}

.lang-logo {
	width: 15%;
	border-radius: 50%;
}

/* Make sure that padding behaves as expected */
* {
	box-sizing: border-box;
}

/* Container for skill bars */
.container-skill {
	width: 100%;
	/* Full width */
	background-color: #ddd;
	/* Grey background */
	margin: 2%;
}

.skills {
	text-align: right;
	/* Right-align text */
	padding-top: 10px;
	/* Add top padding */
	padding-bottom: 10px;
	/* Add bottom padding */
	color: white;
	/* White text color */
	font-weight: bold;


	padding: 1%;

}

.cpp-mababou {
	width: 90%;
	background-color: #6399D4;
}

.js-mababou {
	width: 40%;
	background-color: #E4BA42;
}

.bash-mababou {
	width: 70%;
	background-color: #0d0b07;
}

.docker-mababou {
	width: 50%;
	background-color: #006BC0;
}

.ts-mababou {
	width: 50%;
	background-color: #0078CF;
}


.mababou-exp {
	margin: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.mababou-exp-content {
	margin: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	text-align: center;
}




/* CONTACT - MABABOU */

.contact {
	background-color: white;
}

.contact>h1 {
	font-size: 200%;
	color: darkblue;
	font-weight: bolder;
	font-family: "Raleway", sans-serif;
}

.contact>section>h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 200%;
	padding: 1%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
	width: 100%;
	/* Full width */
	padding: 12px;
	/* Some padding */
	border: 1px solid #ccc;
	/* Gray border */
	border-radius: 4px;
	/* Rounded borders */
	box-sizing: border-box;
	/* Make sure that padding and width stays in place */
	margin-top: 6px;
	/* Add a top margin */
	margin-bottom: 16px;
	/* Bottom margin */
	resize: vertical
		/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: rgb(39, 66, 94);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: rgb(132, 149, 168);
}

/* Add a background color and some padding around the form */
.contact-container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.network-logo {
	width: 50%;
	margin: 10px;
}

.network-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.network-container>a {
	width: 25%;
	max-width: 200px;
	display:flex;
	justify-content: center;
}



/* MRIANT */

.mriant_about_head {
	display: flex;
	flex-direction: row;
	background-color: darkcyan;
}

.mriant_titles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10%;
}

.mriant_titles>h1 {
	color: white;
	font-size: 60px;
	margin-bottom: 5%;
}

.mriant_titles>h2 {
	color: cyan;
	margin-top: 2%;
}

.mriant_about_head>img {
	width: 300px;
	border-radius: 5px;
	margin: 5%;
}

.mriant_about_tail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	padding: 5%;
	font-size: 25px;
}

.mriant_about_tail>.presentation {
	padding-right: 5%;
}

.mriant_about_tail>.presentation>h1 {
	color: darkcyan;
	font-size: 45px;
}

.mriant_about_tail>.infos {
	padding-left: 5%;
	min-width: 400px;
	font-size: 20px;
	text-align: left;
	color: darkcyan;
}


.mriant_about_tail>.infos>.word {
	text-align: right;
	color: gray;
}

.mriant_skills_expe {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.mriant_skills_expe>.skills {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	color: darkcyan;
	text-align: left;
	min-width: 50%;
	padding: 5%;
}

.mriant_skills_expe>.skills>h1 {
	font-size: 45px;
}

.mriant_skills_expe>.skills>.container-skill {
	border-radius: 10px;
	border: solid 2px;
	background-color: rgb(215, 226, 226);
}

.mriant_skills_expe>.skills>.container-skill>.html {
	background-color: rgb(13, 212, 212);
	border-radius: 10px;
	width: 50%;
}

.mriant_skills_expe>.skills>.container-skill>.css {
	background-color: rgb(13, 212, 212);
	border-radius: 10px;
	width: 50%;
}

.mriant_skills_expe>.skills>.container-skill>.c {
	background-color: rgb(13, 212, 212);
	border-radius: 10px;
	width: 95%;
}

.mriant_skills_expe>.skills>.container-skill>.cpp {
	background-color: rgb(13, 212, 212);
	border-radius: 10px;
	width: 20%;
}

.mriant_skills_expe>.skills>.container-skill>.python {
	background-color: rgb(13, 212, 212);
	border-radius: 10px;
	width: 30%;
}

.mriant_skills_expe>.experiences {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5%;
}

.mriant_skills_expe>.experiences>h1 {
	font-size: 45x;
	color: darkcyan;
}

.mriant_skills_expe>.experiences>.experience {
	border: 2px solid darkcyan;
	border-radius: 10px;
	margin: 1%;
	padding: 5%;
	background-color: rgb(215, 226, 226);
	font-size: 20px;
}

.mriant_skills_expe>.experiences>.experience>h2 {
	font-size: 30px;
	color: darkcyan;
}

.mriant_contact>h1 {
	font-size: 45px;
	color: darkcyan;
}

.mriant_contact>section>h2 {
	font-size: 30px;
	color: darkcyan;
	padding: 10px;
}