body {
	margin: 0;
	padding: 0;
}

.cell-container {
	position: absolute;
	display: flex;
	border-collapse: collapse;
}

.first-cell {
	background-color: green;
	color: white;
	width: 50%;
	min-height: 100%;
	padding: 0.5rem;
	position: fixed;
	left: 0%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.second-cell {
	background-color: blue;
	color: white;
	width: 50%;
	min-height: 100%;
	padding: 0.5rem;
	position: fixed;
	left: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}